.custom-modal {
    width: 100%;
    /* モーダルを幅いっぱいに広げる */
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;

    .search-bar {
        width: 100%;
        padding-right: 2.5rem;
    }

    .search-icon {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.close-icon {
    cursor: pointer;
}